ul {
    list-style-type: none;
}

h3 {
    padding-left: 38px;
}

#page-landing {
    display: grid;
    grid-template-columns: 1fr 200px 2fr 200px 1fr;
    grid-template-rows: 150px 0.5fr 2fr; 
}

#title-land {
    grid-column: 3 / 4;
    justify-self: center;
    color: #F4FFE0;
    text-shadow: 1px 4px 4px #000000;
    font-size: 72px;
    line-height: 107px;
}

#show-mangas {
    display: grid;
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 25px;
}

#show-mangas #manga h3 {
    justify-content: center;
}

#link-home {
    text-decoration: none;
    color: white;
    justify-self: center;
    padding-top: 50px;
    font-weight: bold;
    border: 8px solid #636362;
    border-radius: 0px 25px 25px 25px;
    background-color: #2b2b2b;
}