#tittle-register-chapter {
    grid-column: 2 / 3;
    justify-self: center;
    color: #F4FFE0;
    text-shadow: 1px 4px 4px #000000;
    font-size: 72px;
    line-height: 107px;
}

#register-chapter-page {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 300px;
}

#forms-chapter {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    
    display: grid;
    grid-template-columns: 0.50fr 1fr;
    align-items: center;
}

#input-chapter-register {
    width: 80%;
    font-family: Rubik, sans-serif;
}

#input-chapter-description {
    padding-bottom: 50px;
}

#link-chapter-register {
    text-decoration: none;
    color: white;
    justify-self: center;
    padding-top: 25px;
    font-weight: bold;
    border: 8px solid #636362;
    border-radius: 0px 25px 25px 25px;
    background-color: #2b2b2b;
}